<!DOCTYPE html>
html(lang="en")
  head 
    meta(charset='utf-8')
    title #{doctTitle}
    link(rel='stylesheet', href='/css/bootstrap.css')
  body      
    include ../include/nav.pug 
    main.mt-4
      .container
        if prods.length > 0
          h1.mb-4 My Product
          .row
            each product in prods
              .col-lg-4.mb-4 
                .card
                  img.img-fluid(src="../images/games-2.png", alt="games")
                  .card-body.p-4
                    h4
                      a(href="#") #{product.title}
                    p #{product.description}
                    p
                      strong Rp. #{product.price}  
                    .btn-action
                    form(action="/admin/delete-product" method="POST")
                        .form-group
                          input(type="hidden" name="productId" value=product.id)
                          a.btn.btn-warning.mr-3(href="/admin/edit-product/"+ product.id +"?edit=true") Edit 
                          button.btn.btn-danger(type="submit") Delete                      
                      
        else
          h1 Product Not Found
